.al
{
    text-align: right;
    font-size: 38px;
    margin-top: -80px;

}
.ab
{
    text-align: right;
    margin-top: -30px;
    font-size:  20px;
}
.ff
{
    text-align: justify;
}
body
{
    border:outset;
    border-radius: 5% ;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 325px;
    margin-right: 325px;
    background-color:rgb(165, 205, 209);
}